<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Query Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/trace.css" th:href="@{/css/trace.css}" />
</head>
<body>

<div class="container center">
<h1 class="display-3">百威英博莆田工厂全流程追溯系统</h1>
<ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#cap-code-tracing" aria-controls="cap-code-tracing" role="tab" data-toggle="tab">瓶码追溯</a></li>
    <li role="presentation"><a href="#box-code-tracing" aria-controls="box-code-tracing" role="tab" data-toggle="tab">箱码追溯</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="cap-code-tracing">
        <div class="form-wrapper">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-11 col-sm-11">
                        <input type="text" class="request-param form-control" id="cap-code-input" name="capCode" placeholder="输入瓶盖二维码" value=""/>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-secondary scan" name="scan">扫码</button>
                    </div>
                </div>
                <button type="button" class="btn btn-primary tracing" name="tracingByCapCode">追溯</button>
            </form>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="box-code-tracing">
        <div class="form-wrapper">
            <form class="form-horizontal">
                <div class="form-group">
                    <input type="text" class="request-param form-control" id="box-code-input" name="boxCode" placeholder="输入16位箱喷码" value="1712291712070122"/>
                </div>
                <button type="button" class="btn btn-primary tracing" name="tracingByBoxCode">追溯</button>
            </form>
        </div>
    </div>
</div>
<div class="container camera-div">
</div>
<div id="echarts-region"></div>
</div>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/js/echarts.min.js" th:src="@{/js/echarts.min.js}"></script>
<script src="../static/js/webcam.js" th:src="@{/js/webcam.js}"></script>
<script src="../static/js/trace.js" th:src="@{/js/trace.js}"></script>
</body>
</html>